/*general styles*/
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
}
.container {
  width: 1400px;
  height: 5rem;
  margin: 0 auto;
  max-width: 98%;
}

/* header */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 1rem;
}

header .container nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container nav a {
  margin: 0 0.5rem;
  font-size: 1.3rem;
}
header .container .menu {
  display: none;
}
/* end header */

/* banner */
.banner .box {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  background-image: url(../img/image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.banner .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .box .overlay .info {
  width: 600px;
  max-width: 80%;
  color: white;
  text-align: center;
}
.banner .box .overlay .info h1 {
  text-transform: uppercase;
}
/* end banner */

/* airline */
#airline .head {
  text-align: center;
}

#airline .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  place-items: center;
  padding: 1rem;
}

#airline .grid .box {
  width: 250px;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-color: tomato;
}

/* end airline */

/* media queries */
@media (max-width: 720px) {
  header .container nav {
    flex-direction: column;
    height: 500px;
    background-color: tomato;
    transform: translateX(-1000px);
    display: none;
    transition: all 1.5s linear;
  }
  header .container nav a {
    margin: 50px;
    position: fixed;
  }
  header .container .menu {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }

  header .container nav.open {
    display: block;
    transform: translateX(1000px);
  }
}
/* end media queries */
