/*general styles*/
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 1400px;
  margin: 0 auto;
  max-width: 98%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.title {
  margin: 2rem;
}

/* header */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 1rem;
}

header .container nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container nav a {
  margin: 0 0.5rem;
  font-size: 1.3rem;
  font-weight: 900;
  color: rgb(7, 87, 87);
  transition: all 300ms linear;
}
header .container nav a:hover {
  color: rgb(53, 182, 182);
}
header .container nav a:active {
  transform: scale(1.3);
}
header .container .menu {
  display: none;
}
header .container .exit {
  display: none;
}
/* end header */

/* banner */
.banner .box {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  background-image: url(../img/image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.banner .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .box .overlay .info {
  width: 600px;
  max-width: 80%;
  color: white;
  text-align: center;
}
.banner .box .overlay .info h1 {
  text-transform: uppercase;
}
/* end banner */

/* popular destination */
.popular .title {
  text-align: center;
  text-transform: capitalize;
}

.popular .container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(300px, auto);
}
.popular .container .box {
  width: 100%;
  height: auto;
  /* background-color: orange; */
  position: relative;
  background-size: cover;
  background-position: top center;
}
.popular .container .box:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
  background-image: url(../img/new-york.jpg);
  /* background-position: center; */
}
.popular .container .box:nth-child(2) {
  background-image: url(../img/paris.jpg);
}
.popular .container .box:nth-child(3) {
  background-image: url(../img/london.jpg);
}
.popular .container .box:nth-child(4) {
  background-image: url(../img/dubai.jpg);
}
.popular .container .box:nth-child(5) {
  background-image: url(../img/hong\ kong.jpg);
}
/* end popular destinations */

/* hotels */
.hotels .title {
  text-align: center;
  text-transform: capitalize;
}

.hotels .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: 400px;
}

.hotels .container .box {
  width: 100%;
  height: 100%;
  background-color: plum;
}
/* end hotels */

/* media queries */
@media (max-width: 720px) {
  header .container nav {
    flex-direction: column;
    height: 500px;
    /* background-color: tomato; */
    transform: translateX(-1000px);
    display: none;
    transition: all 1.5s linear;
    z-index: 1;
  }
  header .container nav a {
    margin: 50px;
    position: fixed;
  }
  header .container .menu {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }

  header .container .exit {
    display: none;
    font-size: 1.5rem;
  }
  header .container .exit.open {
    display: block;
  }
}
/* end media queries */
